{{define `body`}}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                {{template `users` .Users}}
            </div>
        </div>
    </div>
{{end}}

{{define `users`}}
        <h3>Users</h3>
        <p>
            <a class="btn btn-secondary btn-sm" href="/add-user">Add user</a>
        </p>
    <ul>
        {{range .}}
            <li><a href="/{{.ID}}/channels">{{.Username}}</a> <button class="btn btn-text" hx-delete="/users/{{.ID}}">Remove</button></li>
        {{end}}
    </ul>
    {{if not .}}
        <p class="text-mute">No users</p>
    {{end}}
{{end}}