{{define "nav"}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Twitch chatgpt bot</a>
        </div>
    </nav>
{{end}}